body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #050801;
    font-family: consolas;
}

button {
    position: relative;
    padding: 25px 30px;
    width: 250px;
    font-size: 24px;
    background: inherit;
    color: #03e9f4;
    filter: hue-rotate(290deg);
    font-family: inherit;
    overflow: hidden;
    letter-spacing: 5px;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(
        transparent, #0005
    );
    border-radius: 2px;
}

.animate {
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px 5px;
    }

    50% {
        box-shadow: 0 0 60px 10px;
    }

    100% {
        box-shadow: 0 0 10px 5px;
    }
}

button:hover {
    cursor: pointer;
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

button:focus {
    outline: none;
}

button:active {
    transition: 0s;
    background: inherit;
    color: #03e9f4;
}

video {
    position: absolute;
}

.slide1 {
    animation: slide1;
    animation-duration: 0.5s;
}

.slide2 {
    animation: slide1;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

@keyframes slide1 {
    from {
        left: 0;
        transform: rotate(0deg);
    }

    to {
        left: calc(50vw - 245px);
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}
